@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Montserrat');

body {
font-family: 'Montserrat', sans-serif;
background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url("../images/room.jpg") fixed center center;
background-size: cover;
background-repeat: none;
background-position: fixed center;
margin: 0;
}

h1 {
  display: inline;
  font-size: 4em;
  padding: 8px;
  margin: 0;
  color: black;
}

img#beacon {
  display: flex;
  width: 50%;
  height: 50%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

ul#navid {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: flex-start;
  list-style-type: none;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  color: white;
  background: black;
}

li.myFavorites {
align-self: flex-end;
}

li.login {
  align-self: flex-end;
  padding-left: 0px;
}

nav ul li {
display: block;
font-size: 1.5em;
padding: .5em;
background: black;
}

a#signup {
  color: orange;
}

a#newArtist {
  color: orange;
  padding-left: 10px;
}

#loginform {
  padding-top: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

li {
padding: 1em;
}

a {
  color: white;
  text-decoration: none;
}

a:visted {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

p {
font-size: 1em;
}

p#loggedinornah {
  font-style: italic;
  text-align: right;
  margin-bottom: 0;
  margin-right: 10px;
  padding: 0, 10px, 10px, 0
  color: black;
}

p.logged {
  display: flex;
  flex-direction: row-reverse;
  flex-align: flex-end;
  color: black;
}

li#login {
  align-self: flex-start;
  }

#artist_images {
width: 50%;
height: 50%;
}

.artist p, .artist a {
color: black;
}

.genres a {
margin: 1em;
padding: 0;
font-size: 1.5em;
color: black;
}

.artist a {
margin: 1em;
padding: 0;
font-size: 1.5em;
color: black;
}

.genres h1, .artists h1, .favorites h1 {
  text-decoration: underline;
  margin-left: 20px;
  margin-bottom: 5px;
}

.genre_artist a {
  color: black;
  font-size: 2em;
}

.genre h2 {
  font-size: 3em;
}

.favorites h2 {
  display: inline-flex;
  font-size: 1.5em;
  color: black;
}

.favorites p {
  color: black;
  display: inline-flex;
  font-size: 1.5em;
}

.favorites a {
  color: black;
}

@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px) {
  body {
    flex-basis: 800px;
    flex-shrink: 2;
  }
  h1 {
    font-size: 3em;
  }
  #navid {
    flex-shrink: 2;
  }
}
