<% include ../partials/boilerplate %>

<h2> Username Does Not Exist or Incorrect Password </h2>

<p> Not a current user? <a href="/users/new">Click here to sign up</a></p>

<a href="/users/login">Back to login</a>

<% include ../partials/end %>
